
            <aside class="bg-dark">          
                      <center> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                                  <br><br>Realizzato con <i class="fa fa-heart-o" aria-hidden="true"></i>
 a fini sperimentali e di ricerca.<br><br>Socialpa è un'opera intellettuale rilasciata e distribuita con Licenza<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale</a><br>
<br><br>
      <div class="container text-center">
          <div class="call-to-action">
              <h2>SOCIAL NETWORK DESIGN TOOLKIT</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Scaricalo subito!</a>
          </div>
      </div>
  </aside>
