<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <center>
            <iframe src="https://h5.veer.tv/photo-player?pid=329592&utm_medium=embed" frameborder="0" allowfullscreen="true" width="400" height="400"></iframe>
            </center>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"</h2>
                <hr class="light">
                <p class="text-faded">Facilitare la formazione sulle funzioni e l'aggiornamento delle competenze dei singoli dipendenti statali.
                    Connettere obiettivi, dati e attori per trasformare e dotare di nuovi sensi le organizzazioni statali favorendo potenzialità tacite e capacità resilienti nella Pubblica Amministrazione</p>
        <br>
        <a href="#services" class="btn btn-default btn-xl">Vediamo gli scenari possibili</a>
            </div>
        </div>
    </div>
</section>
