<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <center>
            <iframe src="https://h5.veer.tv/photo-player?pid=329592&utm_medium=embed" frameborder="0" allowfullscreen="true" width="300" height="300"></iframe>
            </center>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"</h2>
                <hr class="light">
                <p class="text-faded">Usare social per la formazione non significa condividere contenuti e metodi, ma dati gli obiettivi e coinvolti gli attori trasformare l'idea stessa di formazione in una esperienza di successo</p>
        <br>
        <a href="#services" class="btn btn-default btn-xl">Vediamo gli scenari possibili</a>
            </div>
        </div>
    </div>
</section>
