<header>
    <div class="header-content">
        <div class="header-content-inner"> 
            <h3>WEBINAR</h3><br>
            <a href="https://www.self-pa.net/notizie/2019/webinar-201csocial-nella-pa-e-nelle-comunita-online-pratiche-e-strumenti201d"<p><h2>“Social nella PA e nelle comunità online:<br>pratiche e strumenti”</h2></p></a>
    <br><p>21 ottobre 2019</p><br>
            <h2>Social e Pubblica Amministrazione:
                <br>da rischio a risorsa</h2>
            <hr>
                <p>Federico Monaco</p>
            <br>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Inizia</a>
            <p>
          </div>
    </div>
</header>
