<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>"Social Networks e Pubblica Amministrazione:
                <br>da rischio a risorsa"</h1>
            <hr>
            <p>Social computing and online communities
are changing the fundamental way people
share information and communicate.
            <a href= "https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiIu5OBzfjkAhUF36QKHRfdBuUQgAMoAnoECAcQBA&url=http%3A%2F%2Fscholar.google.it%2Fscholar_url%3Furl%3Dhttp%3A%2F%2Fir.ia.ac.cn%2Fbitstream%2F173211%2F9426%2F1%2FSocial%252520Computing%2525EF%2525BC%25259A%252520From%252520Social%252520Informaticsto%252520Social%252520Intelligence.pdf%26hl%3Dit%26sa%3DX%26scisig%3DAAGBfm3OKhx9HwG0PTQMwEaywYVciqykmA%26nossl%3D1%26oi%3Dscholarr&usg=AOvVaw3mO9UpHYoAat0_6z36Y4xk">Wang, et al, 2007 Social Computing: From Social Informatics to Social Intelligence, IEEE Intelligent Systems, Volume: 22 Issue: 2</a>
            </p>
            <br>
            <p>Federico Monaco</p>
            <br>
            <p>WEBINAR DI SELF COMMUNITY 25 ottobre 2019</p><a href="#about" class="btn btn-primary btn-xl page-scroll">Scoprilo ora!</a>
        </div>
    </div>
</header>
