<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Social e Pubblica Amministrazione:
                <br>da rischio a risorsa</h2>
            <hr>
            <br>
              <a href="https://www.self-pa.net/notizie/2019/webinar-201csocial-nella-pa-e-nelle-comunita-online-pratiche-e-strumenti201d"<p>WEBINAR  SELF COMMUNITY<br> 21 ottobre 2019</p></a><a href="#about" class="btn btn-primary btn-xl page-scroll">Inizia</a>
        <br>
            <p>
            <p>Federico Monaco</p>
            
          </div>
    </div>
</header>
