<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-12">
                <a href="https://www.gov.uk/government/publications/social-media-guidance-for-civil-servants/social-media-guidance-for-civil-servants" class="portfolio-box"> 
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Cabinet Office United Kingdom
                            </div>
                            <div class="project-name">
                             Social media guidance for civil servants: October 2014 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.oecd.org/gov/pem/Skills-Highlights.pdf" class="portfolio-box">
                <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               OECD
                            </div>
                            <div class="project-name">
                              Skills for a High Performing Civil Service 2016                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12">
                <a href="https://pure.uvt.nl/ws/portalfiles/portal/17262683/The_nature_of_orchestrational_work_Raab.pdf" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The nature of orchestrational work
                            </div>
                            <div class="project-name">
                                Operational work, travelling, bridging, networking, preparing documents, stabilizing the network and transferring knowledge 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://doi.org/10.1080/03003930.2017.1342626" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                How learning aggregates: a social network analysis of learning between Swedish municipalities
                            </div>
                            <div class="project-name">
                                A unique data set among all 290 Swedish municipalities to analyse how learning networks aggregate nationally
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.sciencedirect.com/science/article/pii/S1877042815041956" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The role of learning environments in civil service professional development training
                            </div>
                            <div class="project-name">
                                The training practice reinforces the learner-centered and problem-oriented experiential learning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://figure1.com/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FIGURE1
                            </div>
                            <div class="project-name">
                                a Toronto, Ontario-based online social networking service for healthcare professionals to post and comment on medical images
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://apolitical.co/home" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                APOLITICAL
                            </div>
                            <div class="project-name">
                                The global learning platform for government
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://firstmonday.org/ojs/index.php/fm/article/view/8348/6661" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Public employees in social media communities: Exploring factors for internal collaboration using social network analysis
                            </div>
                            <div class="project-name">
                                Visualize by SNA how interactions and power behave when public employees participate within an existing social media community
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://vc.bridgew.edu/cgi/viewcontent.cgi?article=2031&context=jiws" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Women's Participation in Public Administration inthe Arab States
                            </div>
                            <div class="project-name">
                                Training in  gender  equality,  adapted  to  the  needs  of  civil servants; monitoring  good  practices  in  gender equality  in  public  administration
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.wilsoncenter.org/publication/roadmap-to-50x50-power-and-parity-womens-leadership" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Women in Public Service Project
                            </div>
                            <div class="project-name">
                                 accelerates global progress towards women’s equal participation in policy and political leadership to create more dynamic and inclusive institutions
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://www.cairn.info/revue-notes-du-conseil-d-analyse-economique-2016-7-page-1.htm#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Administration numérique
                            </div>
                            <div class="project-name">
                                la numérisation fait évoluer l’administration vers une dimension de plateforme, sur laquelle les citoyens et les services publics interagissent
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://it.wikibooks.org/wiki/Peeragogia" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PEERAGOGIA
                            </div>
                            <div class="project-name">
                                con l'avvento della produzione digitale nei media e nei network abbiamo innalzato il potere del co-apprendimento ad un nuovo livello
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://21stcenturypublicservant.files.wordpress.com/2014/09/21-century-report-281014.pdf" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The 21st Century Public Servant
                            </div>
                            <div class="project-name">
                              needs organisations which are fluid and supportive, distributed and collaborative models of leading 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://decidim.org/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DECIDIM
                            </div>
                            <div class="project-name">
                                Decidim helps citizens, organizations and public institutions self-organize democratically at every scale
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="http://labgov.city/co-city-protocol/the-co-cities-open-book/" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Co-Cities Open Book
                            </div>
                            <div class="project-name">
                                The open book also presents the “Co-Cities report”, the results of an extensive research project in which we extracted from, and measured the existence of, Co-City design principles in a database of 400+ case studies in 130+ cities around the world. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="https://rucforsk.ruc.dk/ws/portalfiles/portal/32897073/Working_paper_no._1._STUDIES_IN_COLLABORATIVE_INNOVATION_1_.pdf" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Collaborative Innovation in the Public Sector
                            </div>
                            <div class="project-name">
                               Public innovation enhanced through collaboration between public and private actors such as users, street-level bureaucrats, public managers, interest organisations, etc..
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
