<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">GLI SCENARI</h2>
                <br>
                <h4 class="section-heading">Millions of people on every continent also participate in the computer-mediated<br>
   	social groups known as virtual communities, and this population is growing fast.<br> 
Howard Rheingold, 1993</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".10s"></i>
                    <h3>SOCIAL NETWORK nelle PA</h3>
                    <p class="text-muted">L'uso dei social regolamentato per ovviare i rischi e ambiguità dei social</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".15s"></i>
                    <h3>SOCIAL NETWORK e PA</h3>
                    <p class="text-muted">L'adozione dei social per attività sperimentali di formazione</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".20s"></i>
                    <h3>SOCIAL NETWORK per le PA</h3>
                    <p class="text-muted">Adozione integrata di social per la formazione nelle PA</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".25s"></i>
                    <h3>PA come SOCIAL NETWORK</h3>
                    <p class="text-muted">Formare nelle PA con le reti sociali e aperte di apprendimento</p>
                </div>
            </div>
        </div>
    </div>
</section>
